{% extends 'base.html.twig' %}

{% block body %}


<header>
    <div>
        <div>
            <div>
                <img src="{{ asset('/images/logo.png') }}" alt="Bot Logo">
                <h1> Bot communautaire avec de nombreuses fonctionalités </h1>
                <p> LMT-Bot est un bot permettant aux utilisateurs différentes fonctions comme des commandes Funs, des commandes de Setup pour personaliser votre serveur, des Jeux, des Interactions, de la Modération, des Animaux, les Activités Discord, et de nombreuses commandes utiles. Le bot est uniquement fonctionnel qu'avec les commandes slashs </p>
            </div>

            <div>
                <img src="{{ asset('/images/command-setup.png') }}" alt="Commande de Setup">
                <h1>SET UP </h1>
                <p> Un système complet pour customiser votre serveur et l'automatiser</p>
            </div>

            <div>
                <img src="{{ asset('/images/command-moderation.png') }}" alt="Commande de Modération">
                <h1>Modération</h1>
                <p>Garder votre serveur en sécurité grâce aux commandes de modérations, elles aideront les modérateurs dans leur travail</p>
            </div>

            <div>
                <img src="{{ asset('/images/command-activitees.png') }}" alt="Commande d'activitées'">
                <h1>Activitées</h1>
                <p>Lancez l'activitée discord que vous souhaiter, pour jouer avec vos amis</p>
            </div>

            <div>
                <img src="{{ asset('/images/command-fun.png') }}" alt="Commande de Fun et Jeux ">
                <h1>Fun et Jeux</h1>
                <p>Différents jeux et commandes vous attendent pour vous amuser avec vos amis</p>
            </div>

            <div>
                <img src="{{ asset('/images/command-social.png') }}" alt="Commande d'Interractions ">
                <h1>Intérraction</h1>
                <p>Ajoutez les interractions dans votre serveur grâce à nos commandes</p>
            </div>

            <div>
                <img src="{{ asset('/images/command-animaux.png') }}" alt="Commande d'affichage d'animaux ">
                <h1>Animaux</h1>
                <p>Affichez vos animaux favoris à l'aide de nos commandes !</p>
            </div>

            <div>
                <img src="{{ asset('/images/command-utiles.png') }}" alt="Commande Utiles ">
                <h1>Utiles</h1>
                <p>Des commandes utiles qui aideront vos membres quotidiennement
</p>
            </div>


        </div>
    </div>
</header>
<h1> Exemples d'utilisation </h1>
{# VIDEO 1 #}



{# Preparer les vidéos que on va présenter + les textes pour la prochaine fois #}
{% endblock %}

