{% extends 'base.html.twig' %}

{% block body %}


<header>
    <div class="text-center my-10 text-slate-300">
        <h1 class="font-bold mb-5 text-2xl"> Bot communautaire avec de nombreuses fonctionalités </h1>
        <p> LMT-Bot est un bot permettant aux utilisateurs différentes fonctions comme des commandes Funs, des commandes de Setup pour personaliser votre serveur, des Jeux, des Interactions, de la Modération, des Animaux, les Activités Discord, et de nombreuses commandes utiles. Le bot est uniquement fonctionnel qu'avec les commandes slashs </p>
    </div>      
</header>

<div>
<div class="grid grid-cols-2 my-10">
        <div class="justify-self-end self-center mr-4 text-right text-slate-300 col-start-1 col-end-1">
            <div>
                <h1 class="font-bold mb-5 text-2xl">SET UP </h1>
                <p> Un système complet pour customiser votre serveur et l'automatiser</p>
            </div>
        </div>
        <img class="justify-self-start mr-4 rounded-md col-start-2 col-end-2" src="{{ asset('/images/command-setup.png') }}" alt="Commande de Setup">
    </div>

    <div class="grid grid-cols-2 my-10">
        <img class="justify-self-end mr-4 rounded-md col-start-1 col-end-1" src="{{ asset('/images/command-moderation.png') }}" alt="Commande de Modération">
        <div class="justify-self-start self-center ml-4 text-left text-slate-300 col-start-2 col-end-2 ">
            <h1 class="font-bold mb-5 text-2xl">Modération</h1>
            <p>Garder votre serveur en sécurité grâce aux commandes de modérations, elles aideront les modérateurs dans leur travail</p>
        </div>
    </div>

    <div class="grid grid-cols-2 my-10">
        <div class="justify-self-end self-center mr-4 text-right text-slate-300 col-start-1 col-end-1">
            <h1 class="font-bold mb-5 text-2xl">Activitées</h1>
            <p>Lancez l'activitée discord que vous souhaiter, pour jouer avec vos amis</p>
        </div>      
        <img class="justify-self-start mr-4 rounded-md col-start-2 col-end-2" src="{{ asset('/images/command-activitees.png') }}" alt="Commande d'activitées'">
    </div>

    <div class="grid grid-cols-2 my-10">
        <img class="justify-self-end mr-4 rounded-md col-start-1 col-end-1" src="{{ asset('/images/command-fun.png') }}" alt="Commande de Fun et Jeux ">
        <div class="justify-self-start self-center ml-4 text-left text-slate-300 col-start-2 col-end-2 ">
            <h1 class="font-bold mb-5 text-2xl">Fun et Jeux</h1>
            <p>Différents jeux et commandes vous attendent pour vous amuser avec vos amis</p>
        </div>
    </div>

    <div class="grid grid-cols-2 my-10">
        <div class="justify-self-end self-center mr-4 text-right text-slate-300 col-start-1 col-end-1">
            <h1 class="font-bold mb-5 text-2xl">Interaction</h1>
            <p>Ajoutez les interactions dans votre serveur grâce à nos commandes</p>
        </div>
        <img class="justify-self-start mr-4 rounded-md col-start-2 col-end-2" src="{{ asset('/images/command-social.png') }}" alt="Commande d'Interractions ">
    </div>

    <div class="grid grid-cols-2 my-10">
        <img class="justify-self-end mr-4 rounded-md col-start-1 col-end-1" src="{{ asset('/images/command-animaux.png') }}" alt="Commande d'affichage d'animaux ">
        <div class="justify-self-start self-center ml-4 text-left text-slate-300 col-start-2 col-end-2 ">
            <h1 class="font-bold mb-5 text-2xl">Animaux</h1>
            <p>Affichez vos animaux favoris à l'aide de nos commandes !</p>
        </div>
    </div>

    <div class="grid grid-cols-2 my-10">
        <div class="justify-self-end self-center mr-4 text-right text-slate-300 col-start-1 col-end-1">
            <h1 class="font-bold mb-5 text-2xl">Utiles</h1>
            <p>Des commandes utiles qui aideront vos membres quotidiennement</p>
        </div>
        <img class="justify-self-start mr-4 rounded-md col-start-2 col-end-2" src="{{ asset('/images/command-utiles.png') }}" alt="Commande Utiles ">
    </div>
</div>

{% endblock %}

